@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Roboto', sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 1.25rem;
  font-weight: 300;
}

.small {
  font-size: 0.8rem;
}

.display-1 {
  font-size: 3.5rem;
  font-weight: 200;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-dark {
  background: #4D4D4D;
  color: #FFF;
}

.btn-darker {
  background: #000;
  border: none;
  color: #FFF;
  width: 100%;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
}

form .form-group {
  margin-bottom: 16px;
}

form .form-control {
  display: block;
  width: 100%;
  padding: 7px 12px;
  line-height: 1.5;
  color: #495057;
  background: #FFF;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}

/* Header */
#mainheader {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#FFF;
  height: 100vh;
}

/* Navbar */
#navbar {
  overflow: auto;
  padding-top: 50px;
}

#navbar .logo {
  float: left;
}

#navbar img{
  width: 250px;
}

/* Showcase */
#showcase {
  padding: 150px 0;
  text-align: center;
}

#showcase p {
  padding: 90px 0;
  width: 80%;
  margin: 0 auto;
}

/* Features */
#features {
  padding: 90px 0;
  background: #161616;
  color: #4D4D4D;
}

#features .features-row {
  display: flex;
}

#features .features-row-box {
  padding: 50px;
}

#features .features-row-box p,
#features .features-row-box h4 {
  text-align: center;
}

.material-icons {
  display: block;
  text-align: center;
  font-size: 120px;
}

#features .features-row-box h4 {
  padding-top: 50px;
  padding-bottom: 5px;
}

#features .features-row-box ul {
  padding-top: 10px;
}

#features .features-row-box ul li {
  padding: 6px 0;
}

/* Download */
#download {
  background: #000;
  color: #FFF;
  padding: 90px 0;
}

#download .download-row-form {
  background: #161616;
  padding: 80px 30px;
  float: left;
  width: 50%;
}

#download .download-row-text {
  padding: 70px 40px;
  float: right;
  width: 50%;
  text-align: center;
}

#download .download-row-text h2 {
  font-weight: 300;
  padding-bottom: 20px;
}

/* Video */
#video {
  padding: 80px 0;
  text-align: center;
  background: #161616;
  color: #FFF;
}

#video iframe {
  padding-top: 40px;
  padding-bottom: 20px;
}

#video p {
  width: 40%;
  margin: 0 auto;
}

/* Footer */
#mainfooter {
  background: #000;
  text-align: center;
  padding: 30px;
}